deeplake
llama-index
langchain
langchain_community
openai==1.35.7
cohere==5.5.8
wikipedia==1.4.0
pdf2image==1.17.0
html2text==2024.2.26
ragas==0.1.9
tiktoken==0.7.0
transformers==4.42.3
torch==2.3.1
numpy
deepspeed==0.14.4
trl==0.9.4
peft==0.11.1
wandb==0.21.0
bitsandbytes==0.42.0
accelerate==0.31.0
tqdm==4.66.4
neural-compressor===2.6
onnx===1.16.1
pandas==2.2.2
scipy==1.14.0